body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: sans-serif;
}

#mainHeader {
	background-color: #62AEF0;
	width: 100%;
	height: 400px;
	position: relative;
}

#topNav {
	color: white;
	text-decoration: none;
	float: right;
	margin-right: 8px;
	margin-top: 5px;
	display: inline-block;
}

#topNav:hover {
	margin-bottom: -5px;
	font-weight: bold;
}

#headText {
	color: white;
	font-size: 72px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	clear: both;
	text-align: center;
}

#headText span{
	border: white 10px solid;
	display: inline-block;
    padding: 0.2em 0.5em;
}

#unheadText {
	color: white;
	text-align: center;
	font-size: 24px;
	position: relative;
	top: 20px;
}

.kicker {
	-webkit-animation-duration: 3s;
  	-webkit-animation-delay: 1s;
  	-webkit-animation-iteration-count: 1;
}

.mn_movedown {
	position: relative;
	top: 50px;
}

.menButton {
	position: relative;
	left: 15px;
	height: 45px;
	width: 45px;
	background-image: url('img/menuImg.png');
}

#mnFooter {
	width: 100%;
	height: 100px;
	background-color: #62AEF0;
}