html
  head
    link(rel='stylesheet', type='text/css', href='pageLoad/styles.min.css')
    script(src='pageLoad/scripts.min.js')
    link(rel='stylesheet', href='pageLoad/animate.min.css')
  body
    header
      #mainHeader
        nav
          a#topNav(href='#FutureSection') Future Section
          a#topNav(href='#Games') Games
          a#topNav(href='#Projects') Projects
          a#topNav(href='#AboutMe') About Me
        .menu
        h1#headText.mn_movedown.animated.fadeInDownBig
          span Jaden
        p#unheadText.mn_movedown.kicker.animated.fadeIn I am just your average teenage computer nerd.
    .parent
      .AboutMe.section.item(name='AboutMe')
        h4.center About Me
      .Projects.section.item(name='Projects')
        h4.center Projects
      .Games.section.item(name='Games')  
        h4.center Games
      .FutureSection.section.item(name='FutureSection')
        h4.center A Future Section
    footer
      #mnFooter
        nav
          a#bottomNav(href='#AboutMe') About Me
          a#bottomNav(href='#Projects') Projects
          a#bottomNav(href='#Games') Games
          a#bottomNav(href='#FutureSection') Future Section
        //- p.footTxt All content copyright Senoh 2015