html
  head
    link(rel='stylesheet', type='text/css', href='pageLoad/styles.min.css')
    script(src='pageLoad/scripts.min.js')
    link(rel='stylesheet', href='pageLoad/animate.min.css')
  body
    header
      #mainHeader
        nav
          a#topNav(href='#FutureSection') Future Section
          a#topNav(href='#Games') Games
          a#topNav(href='#Projects') Projects
          a#topNav(href='#AboutMe') About Me
        .menu
        h1#headText.mn_movedown.animated.fadeInDownBig
          span Jaden
        p#unheadText.mn_movedown.kicker.animated.fadeIn I am just your average teenage computer nerd.
    section#AboutMe.section(name='AboutMe')
      div
        h4.center About Me
        p.paraLeft
          | About me test for the sections about other random things I really don't care what but this is meant to ramble on to make the section longer and to make a more visable difference whe the section changes
    section#Projects.section(name='Projects')
      div
        h4.center Projects
        p.paraLeft
          | Projects test for the sections about other random things I really don't care what but this is meant to ramble on to make the section longer and to make a more visable difference whe the section changes
    section#Games.section(name='Games')
      div
        h4.center Games
        p.paraLeft
          | Games test for the sections about other random things I really don't care what but this is meant to ramble on to make the section longer and to make a more visable difference whe the section changes
    section#FutureSection.section(name='FutureSection')
      div
        h4.center A Future Section
        p.paraLeft
          | Future section test for the sections about other random things I really don't care what but this is meant to ramble on to make the section longer and to make a more visable difference whe the section changes
    footer
      #mnFooter
        nav
          a#bottomNav(href='#AboutMe') About Me
          a#bottomNav(href='#Projects') Projects
          a#bottomNav(href='#Games') Games
          a#bottomNav(href='#FutureSection') Future Section
        p.footTxt All content copyright Senoh 2015